
// Color
$color-white:#fffefe;
$color-grey: #6f6f6f;
$color-black: #141414;  

$color-gold: #f6b138;     
$color-bg-form: #1c1c1c;
$color-bg-footer: #202020;
$color-mob-menu-icon:rgba(111, 111, 111, 0.9);
$color-blog: #eaeaea;
$color-grey-footer: #636363;
$color-dark-grey:#3a3a3a;
$color-sub: #6f6f6f;
$color-background-main: white;


/*===COLORS===*/
$color-background-main: white;
$color-main: #fffefe;
$color-sub: #6f6f6f;
$color-headings: black;
$color-button-background: transparent;
$color-hover: coral;
$color-background-article: #eaeaea;
/*===END COLORS===*/

/*===FONTS===*/
$font-crimson:'Crimson Text', serif;
$font-lato:'Lato', sans-serif;
$font-monts:'Montserrat', sans-serif;
$font-sans:'Open Sans', sans-serif;
/*===END FONTS*/






